@font-face {
    font-family: 'Hoarsely';
    src: url('fonts/HoarselySingleLine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: #111;
    --bg-color: #b9b3a9;
}

body[data-mode="dark"] {
    --text-color: #fff;
    --bg-color: #111;
}

/* Base styles */
html {
    max-width: 100vw;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'GFS Didot', serif;
    color: var(--text-color);
    background: linear-gradient(rgba(256, 256, 256, 0.8), rgba(256, 256, 256, 0.8)), url('images/greencropped.jpg') fixed;
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
    overscroll-behavior: none;
}

h1 {
    font-family: 'Hoarsely', serif;
}

@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(rgba(256, 256, 256, 0.8), rgba(256, 256, 256, 0.8)), url('images/greencropped.jpg') fixed;
        background-position: center bottom;
    }
}

header {
    padding: 1.5rem;
}

.container section {
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

section:not(#sectionPin, .pin-wrap-sticky) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
}

.container img {
    height: 80vh;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.container h1 {
    font-size: clamp(1.5rem, 8vw + 1rem, 6rem);
    line-height: 1;
    font-weight: 800;
    margin-bottom: 1rem;
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 4;
    overflow-wrap: break-word;
    hyphens: auto;
}

.container h1 span {
    display: block;
}

.container h2 {
    font-size: 2rem;
    max-width: 400px;
}

.contact a {
    color: var(--text-color);
}

.container * {
    box-sizing: border-box;
}

#sectionPin {
    height: 500vh;
    overflow: visible;
    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
}

.pin-wrap>* {
    min-width: 60vmax;
    padding: 0 5vmax;
}

.container>p {
    position: absolute;
    bottom: 10vw;
    right: 10vw;
    width: 200px;
    line-height: 1.5;
}